@import '../../../assets/styles/variables';

.priority {
  &__btn {
    font-family: 'bold', sans-serif;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 13px;
  }

  .active {
    background-color: $green;
    color: rgba(0, 0, 0, 0.88);
  }
}