.field {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.input {
  font-family: 'regular', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  margin-bottom: 3px;
  font-size: 13px;
  color: #fff;
  width: 100%;
}