@import '../../../assets/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.editable {
  border-bottom: 2px solid $green;
}

.pen {
  width: 15px;
  cursor: pointer;
}

.btn {
  display: none;
}