@font-face {
  font-family: "light";
  src: url('../fonts/OpenSans-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'regular';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: "bold";
  src: url('../fonts/OpenSans-Bold.ttf');
  font-display: swap;
}