@import 'fonts';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.88);
}

.App {
  border: 1px solid red;
  box-shadow: -1px 0px 48px 0px rgba(153,31,55,1);
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
